.footer{
    background-color: #000;
    padding-top: 20px;
}
.container{
    padding-top:20px;
    color: white;
}
.footerrow{
    width: 20%;
    line-height: 40px;
}

.container{
    display: flex;
}
.container a{
    text-decoration: none;
    color: white;
}
.row{
    padding: 0px 5px 5px 20px;
}
.comments{
    background-color: #2F5ACF;
    text-align: center;
    border-radius: 10px;
}
.link_footer a{
    padding: 0px 10px ;
}
::before {
    font-size: 30px;
}
.footerrow a:hover{
    color: #F7C96F;
}

@media (min-width: 740px) and (max-width:1300px){
    .footerrow {
        width: 20%;
        line-height: 20px;
    }
}
@media(max-width:739px){
    footer.footer {
        margin-top: 30px;
    }
    .footerrow {
        width: 50%;
        line-height: 20px;
    }
    .footerHide{
        display: none !important ;
    }
}