body{
    background-color: rgba(226, 226, 226,0.3);
  
}
.nav-list{
    display: flex;
    height: 100%;
}
.list-group{
    background-color: #F8F9FA;
}
.list-group-item{
    padding: 20px 10px;
}
li.list-group-item :hover {
    color:blue;
}
.content{
    margin: 10px 20px;  
}
.col-2{
    padding-left: 0px;
}
a{
    text-decoration: none;
}
li{
    padding: 10px;
    list-style: none;
    border-radius: 16px;
    margin: 20px 8px;
    border: 1px solid blue;
}
